BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
UseTab: Never
PPIndentWidth: 1
IndentPPDirectives: AfterHash
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignCaseColons: true
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
